.error-box {
    background: #fff;
    padding: 50px 0px;
    border-radius: 10px;
    border: 1px dashed #343a40
}

.error-box h1 {
    font-size: 120px;
    font-weight: 600;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.error-box strong {
    font-size: 35px;
    margin: 0;
    padding: 0;
    color: #dc3545;
}