.user-img {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0%, -50%);
}

/* user profile */
.profile-section-title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #00d285;
    border-bottom: 1px solid #00d285;
}

.profile-section-title:first-child {    
    margin-top: 0px;
}

.user-profile table th, .user-profile table td {
    border-bottom: 1px solid #f2f4f5 !important;
    padding: 5px 0px;
}

.user-profile table th {
    width: 180px;
    font-size: 13px;
}

.user-profile img {
    border: 1px solid #00d285;
    padding: 5px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.user-profile h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.user-profile .btn-secondary {
    margin-top: 15px;
}

.user-profile img {
    border: 1px solid #00d285;
    padding: 5px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.user-profile h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.user-profile .btn-secondary {
    margin-top: 15px;
    margin-bottom: 15px;
}

.user-profile p {
    margin-bottom: 5px;
}

.user-profile p svg, .user-profile i.fas {
    margin-right: 5px;
    color: #00d285;
}

.profile-navbar ul li {
    display: inline;
}

.profile-navbar ul li a {
    display: block;
    padding: 5px 0px;
    color: #0e0e0d;
}

.profile-navbar ul li a:hover {
    color: #00d285;
}

.action-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 5px;
}

.helpline-card {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #efefef;
    padding: 15px;
    box-shadow: 0px 0px 6px #00000015;
}

.img-book {
    background: #383838;
    padding: 50px;
    text-align: center;
    width: 100%;
    height: 500px;
    overflow-y: auto;
}

@media screen and (max-width: 768px){
    .img-book {
        padding: 30px 10px;
    }
}

.img-book img:not(:first-child) {background: white;padding: 4px;}