@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #00d285;
  transition: 250ms;
}

a:hover {
  color: #07a36a;
  transition: 300ms;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn {
  background-color: #00d285;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 5px;
}

.btn:hover {
  background-color: #07a36a;
}

.btn-primary {
  background-color: #00d285;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #07a36a;
}

.btn-danger {
  background-color: #ed081d;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #20201f;
}

.btn-sm {
  padding: 3px 7px;
  font-size: 12px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 3px;
  color: #20201f;
}

.form-group .form-control {
  border-color: #e7e7e7;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 40px;
  color: #0e0e0d;
}

.form-group .form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #00d285;
}

.form-group .form-control ::placeholder {
  font-size: 14px;
  font-weight: 300;
}

.form-group .text-danger {
  font-size: 12px;
  font-weight: 400;
}

.form-group .input-group .input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9faff;
  border-color: #e7e7e7;
  color: #696969;
  width: 35px;
  padding: 0px 7px;
  text-align: center;
  font-size: 16px;
}

.form-group .input-group:hover .input-group-text {
  border-color: #00d285;
}

.form-group .input-group:hover .form-control {
  border-color: #00d285;
}

.form-section-title {
  font-size: 14px;
  font-weight: 600;
  color: #07a36a;
  padding: 5px 0px;
  border-bottom: 1px dashed #00d285;
  margin-bottom: 10px;
  margin-top: 10px;
}

.box {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #00000005;
  margin-bottom: 30px;
}

.box .box-header {
  border-bottom: 1px solid #e7e7e7;
  padding: 5px 0px;
}

.box .box-header .box-title {
  font-weight: 600;
  color: #20201f;
}

.box .box-header.box-header-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .box-body {
  padding: 15px 0px;
}

.box .box-body.has-table {
  overflow-x: auto;
}

.box .box-footer {
  padding: 10px 0px;
  border-top: 1px solid #e7e7e7;
}

table, .table {
  width: 100%;
}

table thead th, .table thead th {
  font-weight: 600;
}

table th, .table th {
  border-bottom: 1px solid #20201f !important;
}

table td, .table td {
  border-bottom: 1px solid #e7e7e7;
  font-size: 13px;
}

table.table-bordered, .table.table-bordered {
  border: 1px solid #e7e7e7;
}

table.table-bordered thead, .table.table-bordered thead {
  background-color: #e7e7e7;
}

table.table-bordered th, .table.table-bordered th {
  border-bottom: 1px solid #e7e7e7 !important;
}

table.table-bordered td, .table.table-bordered td {
  border-bottom: 1px solid #e7e7e7;
}

table.table-hover tbody tr, .table.table-hover tbody tr {
  cursor: pointer;
}

.widgets {
  margin-bottom: 15px;
}

.widgets .widget-item {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 0px 10px #00000014;
  padding: 10px;
  border-bottom: 3px solid #00d285;
  margin-bottom: 15px;
}

.widgets .widget-item .widget-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widgets .widget-item .widget-body .widget-content h1 {
  margin-top: 5px;
}

.widgets .widget-item .widget-body .widget-icon span {
  background: linear-gradient(45deg, #00d285, #0dcaf0);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}

.widgets .widget-item.widget-one {
  border-bottom: 3px solid #0dcaf0;
}

.widgets .widget-item.widget-one .widget-body .widget-icon span {
  background: linear-gradient(45deg, #17ead9, #6078ea) !important;
}

.widgets .widget-item.widget-two {
  border-bottom: 3px solid #dc3545;
}

.widgets .widget-item.widget-two .widget-body .widget-icon span {
  background: linear-gradient(45deg, #f54ea2, #ff7676) !important;
}

.widgets .widget-item.widget-three {
  border-bottom: 3px solid #198754;
}

.widgets .widget-item.widget-three .widget-body .widget-icon span {
  background: linear-gradient(45deg, #00b09b, #96c93d) !important;
}

.widgets .widget-item.widget-four {
  border-bottom: 3px solid #ffc107;
}

.widgets .widget-item.widget-four .widget-body .widget-icon span {
  background: linear-gradient(45deg, #ffdf40, #ff8359) !important;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #00000015;
  padding: 10px 0px;
}

.header .logo {
  padding-top: 10px;
}

.header .logo a {
  color: #0e0e0d;
}

.header .logo a h2 {
  font-weight: 700;
  font-size: 20px;
}

.mainmenu ul {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainmenu ul li a {
  display: block;
  padding: 10px 15px;
  color: #0e0e0d;
  font-weight: 500;
}

.mainmenu ul li a:hover {
  color: #07a36a;
}

.mainmenu ul li.auth-link {
  margin-left: 15px;
}

.mainmenu ul li.auth-link a {
  background-color: #00d285;
  color: #ffffff;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 3px;
}

.mainmenu ul li.auth-link a:hover {
  background-color: #07a36a;
}

.mainmenu ul li.auth-link.register-link a {
  background-color: #20201f;
}

.mainmenu ul li.auth-link.register-link a:hover {
  background-color: #0e0e0d;
}

@media screen and (max-width: 768px) {
  .header .logo {
    text-align: center;
  }
  .mainmenu ul {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .header .logo {
    text-align: center;
  }
  .mainmenu ul {
    justify-content: center;
  }
}

.main-content {
  min-height: calc(100vh - 103px);
  background-color: #f2f4f5;
}

.footer {
  background-color: #0e0e0d;
  color: #e7e7e7;
}
/*# sourceMappingURL=style.css.map */